.hero_three_main {
  background-color: var(--color6);
  height: 100vh;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px
  );
  background-size: 10px 10px;
  padding-top: 40px !important;
  position: relative;
  z-index: 10;
  overflow: hidden;
  box-sizing: border-box;
  /* background-image: url('../../images/HeroThree/herothree_cover3.png'); */
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_three_main_name {
  overflow: hidden;
  perspective: 1000px;
}

.hero_three_main_name h1 {
  color: var(--color6);
  font-size: 12vw;
  text-align: center;
  margin: 0 !important;
  letter-spacing: 2px;
  font-weight: bold;
  background: linear-gradient(to bottom, #000, var(--color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-style: preserve-3d;
}

.hero_three_main_name h3 {
  color: var(--color6);
  font-size: 100px;
  text-align: center;
  margin: 0 !important;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--color2);
  text-transform: uppercase;
  /* position: absolute;
    bottom: 10px;
    left: 50%; */
  /* transform: translate(-50%, 0); */
  width: 100%;
  /* color: transparent; */
  /* -webkit-text-stroke: 1px var(--color3);
  text-transform: uppercase; */
}

.hero_three_main_name h3 span {
  /* color: transparent;
  -webkit-text-stroke: 1px var(--color7); */
  text-transform: uppercase;
}

.hero_three_main_image {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_three_main_image img {
  height: 650px;
}

.hero_three_main_description img {
  width: 43px;
  height: 37px;
  object-fit: cover;
}

.hero_three_main_description {
  width: 90%;
  border-radius: 10px;
  margin-top: 50px;
  background: #1d1d1d;
  border: 2px solid #272727;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.hero_three_main_description p {
  color: var(--color6);
  font-size: 20px;
  text-align: center;
  margin: 0 !important;
  font-weight: 100;
}

.hero_three_main_image img {
}

.hero_three_main_svgCurve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1; /* Adjust layering */
}

.custom-shape-divider-bottom-1740328712 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1740328712 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 186px;
}

.custom-shape-divider-bottom-1740328712 .shape-fill {
  fill: #ffffff;
}

.hero_three_main_social {
  display: flex;
  gap: 20px;
}

.hero_three_main_social span {
  font-size: 45px;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000; /* Default color */
  cursor: pointer;
}

.hero_three_main_social {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 100px !important;
}

/* Hover Effect */
.hero_three_main_social span:hover {
  transform: translateY(-25px) scale(1.6);
  color: #007bff; /* Change color on hover */
}

/* Apply Scale to Previous and Next Siblings */
.hero_three_main_social span:hover + span,
.hero_three_main_social span:has(+ span:hover) {
  transform: translateY(-3px) scale(1.3);
}

.hero_three_short_description {
  font-size: 3vw;
  font-weight: 700;
  color: var(--color2);
  width: 80vw;
  margin: 2px auto !important;
  z-index: 10;
}

.hero_three_short_description_profile {
  color: #f87060;
}

.hero_three_short_description_container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero_three_short_description_image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 0 20px;
  margin-bottom: -10px; */
}

/* .hero_three_short_description img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 20px;
  margin-bottom: -10px;
} */

.hero_three_short_description_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.herothree_btn {
  width: var(--width);
  height: var(--height);
  background-color: var(--backgroundColor);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.herothree_btn span {
  margin: 0px;
  /* font-size: 16px;
  font-weight: 300;
  position: relative; */
  z-index: 1;
  position: relative;
  font-size: 25px;
}

.herothree_btn a {
  text-decoration: none;
  color: inherit;
}

.hero_three_social_container {
  margin-top: 60px;
  z-index: 10;
}

.hero_three_social_left {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.herothree_btn span svg {
  margin-bottom: -1px !important;
}

.circleContainer {
  background-color: red;
  position: relative;
  margin-top: 100px;
}

.circlee {
  height: 1550%;
  width: 120%;
  left: -10%;
  border-radius: 0 0 50% 50%;
  background-color: white;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
}

.hero_three_short_description_text {
  flex: 1;
}

.hero_three_resume_btn {
  /* pointer-events: initial;
  background-color: transparent; */
  display: block;
  /* width: auto; */
  height: 44px;
  /* line-height: 44px; */
  border-radius: 44px;
  position: relative;
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
  box-sizing: border-box;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  /* position: absolute;
  right: 20px;
  bottom: 9%; */
  padding: 10px 20px;
  transition: all .3s ease-out;
  /* margin: 0 auto !important; */
  margin-top: 30px !important;
}

.icon_wrap {
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform-origin: 25px center;
  transition: all .3s ease-out;
  scale: 0;
  position: absolute;
  right: 6px;
}

.hero_three_resume_btn:hover .icon_wrap {
 scale: 1;
}

.hero_three_resume_btn:hover {
 background-color: #000;
 color: #fff;
}

.hero_three_resume_btn:hover .hero_three_resume_text{
  padding-right: 20px;
 }

.hero_three_resume_text {
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-out;
}

.hero_three_short_description_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 20px;
  margin-bottom: -10px;
  display: none;
}

/* @media screen and (max-width: 992px) {
  .hero_three_short_description_img {
    display: block;
  }
} */

@media screen and (max-width: 992px) {
  .hero_three_short_description_container {
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
    padding-top: 0 !important;
  }

  .hero_three_short_description {
    font-size: 4vw;
    text-align: center;
    width: 90vw;
  }

  .herothree_btn {
    width: 45px;
    height: 45px;
  }

  .herothree_btn span{
   font-size: 23px;
  }
}

@media screen and (max-width: 576px) {
  .hero_three_main {
    /* height: 100%; */
    margin-bottom: 3rem;
    padding-top: 0 !important;
  }

  .hero_three_short_description {
    font-size: 6.5vw;
    text-align: center;
    width: 90vw;
  }
}

@media screen and (max-width: 480px) {

  .herothree_btn span{
   font-size: 23px;
  }

  .hero_three_main_name h1 {
    font-size: 12.3vw;
  }

  .hero_three_short_description {
    font-size: 7vw;
    text-align: center;
    width: 90vw;
  }
}