.footer_main {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  position: relative;
  height: 600px;
  z-index: 10;
  /* padding: 4rem; */
}

.footer_container {
  position: fixed;
  bottom: 0;
  height: 600px;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
}

/* .footer_container {
    font-size: 10rem;
    color: #000;
} */

.footer_top p {
  font-size: 24px;
  color: #2d313c;
  margin: 0;
  text-align: center;
}

.footer_top h1 {
  font-size: 9rem;
  color: var(--color2);
  margin: 2rem 0;
  text-align: center;
  margin-bottom: 0 !important;
}

.footer_top h2 {
  font-size: 3rem;
  color: var(--color2);
  text-align: center;
  margin: 0 !important;
}

.footer_bottom {
  padding-top: 1rem;
  border-top: 1px solid #9d9fa7;
  margin-top: 2rem;
}

.footer_bottom_container {
  display: flex;
  justify-content: space-between;
}

.footer_bottom_item span:nth-child(2) {
  font-size: 1.25rem;
  line-height: var(--32px);
  font-weight: 400;
  color: #2d313c;
}

.footer_bottom_item span svg {
  font-size: 1.5rem;
  margin-bottom: -4px;
  margin-right: 15px;
  color: #2d313c;
}

@media screen and (max-width: 768px) {
  .footer_main {
    height: 60vh;
  }

  .footer_container {
    height: 60vh;
    padding: 3rem 0.5rem;
  }

  .footer_top p {
    font-size: 16px !important;
  }

  .footer_top h1 {
    font-size: 3.5rem !important;
    margin: 1rem 0;
  }

  .footer_top h2 {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .hero_three_main_social {
    gap: 2rem;
    margin-top: 55px !important;
  }

  .hero_three_main_social span {
    font-size: 30px;
  }

  .footer_mobile_email {
    font-size: 1.4rem !important;
  }

  .footer_bottom_item span:nth-child(2) {
    font-size: 0.9rem !important;
  }

  .footer_bottom_item span svg {
    font-size: 1rem;
    margin-bottom: -2px !important;
    margin-right: 8px !important;
  }
}

@media screen and (max-width: 992px) {

  .footer_top h1 {
    font-size: 7rem;
    margin: 1rem 0;
  }
}