.projectmodal_container{
    height: 250px;
    width: 400px;
    position: absolute;
    background-color: white;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.projectmodal_modalslider{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.projectmodal_modal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectmodal_modal img{
  /* height: auto; */
  height: 82%;
  width: 90%;
  object-fit: cover;
}

.projectmodal_cursor, .projectmodal_cursorlabel{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000;
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
    z-index: 11;
}

.projectmodal_cursorlabel {
    pointer-events: none;
} 

.cursorLabel{
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .projectmodal_container {
      display: none;
    }

    .projectmodal_cursorlabel, .projectmodal_cursor {
        display: none;
    }
  }